body{background-color: rgb(165, 58, 79);}
.fotosTxt{color: antiquewhite; font-size: 20px;}

h1{
    text-align: center;
    font-size: 48px;
    color: antiquewhite;
}
.banner{
    width: 100%;
    height: 400px;
}
.perros{
    width: 23%;
    height: 300px;
    margin: 5px;
}